{
  "openapi": "3.0.3",
  "info": {
    "title": "Swyftx API",
    "version": "1.0.0",
    "description": "Swyftx API - Backend API for Swyftx cryptocurrency exchange.",
    "contact": {
      "name": "Swyftx",
      "url": "https://docs.swyftx.com.au"
    }
  },
  "servers": [
    {
      "url": "https://api.swyftx.com.au"
    }
  ],
  "paths": {
    "/auth/refresh": {
      "post": {
        "summary": "Refresh",
        "description": "Refresh",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "apiKey"
                ]
              },
              "example": {
                "apiKey": "7r4hTa2Yb..."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response for Refresh",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "accessToken": "eyJhbGciOiJSUzI1N...",
                  "scope": "app.account.read ..."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Refresh",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postAuthrefresh"
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Logout",
        "description": "Logout",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Logout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ]
                },
                "example": {
                  "success": "true"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Logout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postAuthlogout"
      }
    },
    "/user/apiKeys/scope": {
      "get": {
        "summary": "Get Scope",
        "description": "Get Scope",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "app.account.read": {
                    "display": "",
                    "desc": "",
                    "key": "app.account.affiliation",
                    "state": 0
                  },
                  "app.funds.withdraw": {
                    "display": "",
                    "desc": "",
                    "key": "app.account.affiliation",
                    "state": 0
                  },
                  "app.orders.delete": {
                    "display": "",
                    "desc": "",
                    "key": "app.account.affiliation",
                    "state": 0
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Get Scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserapikeysscope"
      }
    },
    "/user/apiKeys": {
      "get": {
        "summary": "Get Keys",
        "description": "Get Keys",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "id": "dcr_16HDA0uUE4VXrSlx",
                    "label": "Master",
                    "scope": "app.account.affiliation app.account.modify ...",
                    "created": "1517316338030"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Internal server error for Get Keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserapikeys"
      }
    },
    "/user/apiKeys/revoke": {
      "post": {
        "summary": "Revoke Key",
        "description": "Revoke Key",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keyId"
                ]
              },
              "example": {
                "keyId": "dcr_7mkRWn..."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response for Revoke Key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "API Key Revoked"
                }
              }
            }
          }
        },
        "operationId": "postUserapikeysrevoke"
      }
    },
    "/user/apiKeys/revokeAll": {
      "post": {
        "summary": "Revoke All Keys",
        "description": "Revoke All Keys",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Revoke All Keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "API Keys Revoked"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Revoke All Keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postUserapikeysrevokeall"
      }
    },
    "/user": {
      "get": {
        "summary": "Get Profile",
        "description": "<p>An Object with the user information</p>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "profile"
                  ]
                },
                "example": {
                  "profile": {
                    "dob": 757346400000,
                    "name": {
                      "first": "John",
                      "last": "Doe"
                    },
                    "email": "john.doe@example.com",
                    "phone": "+614XXXXXXXX",
                    "currency": {
                      "id": 1,
                      "code": "AUD"
                    },
                    "user_hash": "xxxx...xxxx",
                    "metadata": {
                      "mfa_enabled": true,
                      "mfa_enrolled": true
                    },
                    "userSettings": {
                      "favouriteAssets": {
                        "assetId": true
                      },
                      "analyticsOptOut": true,
                      "activeAffil": true,
                      "disableSMSRecovery": false,
                      "dashboardSettings": [
                        {
                          "name": "favourites",
                          "display": false
                        },
                        {
                          "name": "announcement",
                          "display": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Get Profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUser"
      },
      "patch": {
        "summary": "Update Phone Number",
        "description": "<p>Updates the phone number stored against the account. Sends two SMS OTPs, one to the old phone number, and one to the new phone number.</p>",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ]
              },
              "example": {
                "phone": "+6199999999",
                "oldOTP": "123456",
                "newOTP": "123456"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response for Update Phone Number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "oldOTP",
                    "newOTP"
                  ]
                },
                "example": {
                  "success": false,
                  "oldOTP": {
                    "success": false,
                    "expired": false
                  },
                  "newOTP": {
                    "success": false,
                    "expired": false
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Update Phone Number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "patchUser"
      }
    },
    "/user/settings": {
      "post": {
        "summary": "Account Settings",
        "description": "<p>Can adjust account settings such as favourite assets, SMS recovery, etc. When making changes, only include the changes you would like in the request.</p>",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ]
              },
              "example": {
                "data": {
                  "favouriteAsset": {
                    "assetId": 3,
                    "favStatus": true
                  },
                  "analyticsOptOut": false,
                  "toggleSMSRecovery": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response for Account Settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "profile"
                  ]
                },
                "example": {
                  "profile": {
                    "dob": 757346400000,
                    "name": {
                      "first": "John",
                      "last": "Doe"
                    },
                    "email": "john.doe@example.com",
                    "phone": "+614XXXXXXXX",
                    "currency": {
                      "id": 1,
                      "code": "AUD"
                    },
                    "user_hash": "xxxx...xxxx",
                    "metadata": {
                      "mfa_enabled": true,
                      "mfa_enrolled": true
                    },
                    "userSettings": {
                      "favouriteAssets": {
                        "assetId": true
                      },
                      "analyticsOptOut": true,
                      "activeAffil": true,
                      "disableSMSRecovery": false,
                      "dashboardSettings": [
                        {
                          "name": "favourites",
                          "display": false
                        },
                        {
                          "name": "announcement",
                          "display": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Account Settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postUsersettings"
      }
    },
    "/user/verification": {
      "get": {
        "summary": "Get Verification Info",
        "description": "Get Verification Info",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Verification Info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "verification": {
                    "status": "unverified",
                    "email": "verified",
                    "mfa": "unverified",
                    "phone": "verified",
                    "identity": "unverified"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Get Verification Info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserverification"
      }
    },
    "/user/verification/storeGreenId": {
      "post": {
        "summary": "Save Verification Info",
        "description": "Save Verification Info",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification"
                ]
              },
              "example": {
                "verification": {
                  "id": "AsdfSAfs"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response for Save Verification Info",
            "content": {
              "application/json": {
                "schema": {},
                "example": {}
              }
            }
          },
          "500": {
            "description": "Internal server error for Save Verification Info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postUserverificationstoregreenid"
      }
    },
    "/user/verification/email": {
      "post": {
        "summary": "Start Email Verification",
        "description": "<p>Call to get sent a link via email to verify access to email account</p>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Start Email Verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "emailVerified",
                    "msg"
                  ]
                },
                "example": {
                  "success": true,
                  "emailVerified": true,
                  "msg": "Your email is verified"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Start Email Verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postUserverificationemail"
      },
      "get": {
        "summary": "Check Email Verification Status",
        "description": "<p>Call once link clicked to check verification status</p>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Check Email Verification Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "emailVerified",
                    "msg"
                  ]
                },
                "example": {
                  "success": true,
                  "emailVerified": true,
                  "msg": "Your email is verified"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Check Email Verification Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserverificationemail"
      }
    },
    "/user/verification/phone/{token}": {
      "get": {
        "summary": "Start Phone Verification",
        "description": "<p>Call once sms received with <code>token</code> to verify access to phone</p>",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Start Phone Verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "phoneVerified": {
                      "type": "boolean"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "phoneVerified",
                    "msg"
                  ]
                },
                "example": {
                  "success": true,
                  "phoneVerified": true,
                  "msg": "Your email is verified"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Start Phone Verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postUserverificationphonetoken"
      }
    },
    "/user/affiliations": {
      "get": {
        "summary": "Get Affiliation Info",
        "description": "Get Affiliation Info",
        "parameters": [
          {
            "name": "forceRefresh",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "<p>Force endpoint to refresh on request</p>\n",
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get Affiliation Info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "referral_link",
                    "referred_users",
                    "outstandingBalance"
                  ]
                },
                "example": {
                  "referral_link": "https://swyftx.com.au/?ref=XXXXXXXXXXX",
                  "referred_users": 1,
                  "outstandingBalance": 123.34
                }
              }
            }
          }
        },
        "operationId": "getUseraffiliations"
      }
    },
    "/user/balance": {
      "get": {
        "summary": "Get Account Balances",
        "description": "Get Account Balances",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Account Balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "assetId": 1,
                    "availableBalance": "100.2464"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Internal server error for Get Account Balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserbalance"
      }
    },
    "/user/currency": {
      "post": {
        "summary": "Set Currency",
        "description": "Set Currency",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "profile": {
                  "defaultAsset": 1
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response for Set Currency",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "profile"
                  ]
                },
                "example": {
                  "profile": {
                    "dob": 757346400000,
                    "name": {
                      "first": "John",
                      "last": "Doe"
                    },
                    "email": "john.doe@example.com",
                    "phone": "+614XXXXXXXX",
                    "currency": {
                      "id": 1,
                      "code": "AUD"
                    },
                    "user_hash": "xxxx...xxxx",
                    "metadata": {
                      "mfa_enabled": true,
                      "mfa_enrolled": true
                    },
                    "userSettings": {
                      "favouriteAssets": {
                        "assetId": true
                      },
                      "analyticsOptOut": true,
                      "activeAffil": true,
                      "disableSMSRecovery": false,
                      "dashboardSettings": [
                        {
                          "name": "favourites",
                          "display": false
                        },
                        {
                          "name": "announcement",
                          "display": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Set Currency",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postUsercurrency"
      }
    },
    "/user/statistics": {
      "get": {
        "summary": "Statistics",
        "description": "Statistics",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "orders": 491,
                  "traded": 20614.3484,
                  "deposited": 5420.37,
                  "withdrawn": 9400.58
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserstatistics"
      }
    },
    "/user/progress": {
      "get": {
        "summary": "Progress",
        "description": "Progress",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "signUp": true,
                  "verified": true,
                  "deposit": true,
                  "trade": false,
                  "refer": false,
                  "completed": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserprogress"
      }
    },
    "/user/fees": {
      "get": {
        "summary": "General Fees",
        "description": "General Fees",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for General Fees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "generalOrderFee"
                  ]
                },
                "example": {
                  "generalOrderFee": "0.006"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for General Fees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserfees"
      }
    },
    "/user/fees/{primary}/{secondary}/{direction}": {
      "get": {
        "summary": "Order Fees",
        "description": "Order Fees",
        "parameters": [
          {
            "name": "primary",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "",
            "example": "1"
          },
          {
            "name": "secondary",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "",
            "example": "3"
          },
          {
            "name": "direction",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "",
            "example": "BUY"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Order Fees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderFee": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "orderFee"
                  ]
                },
                "example": {
                  "orderFee": "0.006"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters for Order Fees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "ArgsError",
                    "message": "Invalid argument"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Order Fees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserfeesprimarysecondarydirection"
      }
    },
    "/user/promotions": {
      "get": {
        "summary": "Promotions",
        "description": "Promotions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Promotions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "desc": "50% off fees first week",
                  "ref": "bonusfee50",
                  "expiry": 1593525600000
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Promotions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getUserpromotions"
      }
    },
    "/user/taxReport": {
      "get": {
        "summary": "Get Tax Report",
        "description": "Get Tax Report",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>Start date for tax report in ms</p>\n",
            "example": "1593518400000"
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>Optional timezone offset in ms. Negative numbers allowed.</p>\n",
            "example": "36000000"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>End date for tax report in ms</p>\n",
            "example": "1561939200000"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Report output format. Either <code>csv</code>, <code>json</code> or <code>pdf</code></p>\n",
            "example": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get Tax Report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cryptoStatement": {
                      "type": "array"
                    },
                    "fiatStatement": {
                      "type": "array"
                    },
                    "openingStatements": {
                      "type": "object",
                      "properties": {
                        "cryptoStatement": {
                          "type": "array"
                        },
                        "fiatStatement": {
                          "type": "array"
                        }
                      }
                    },
                    "closingStatements": {
                      "type": "object",
                      "properties": {
                        "cryptoStatement": {
                          "type": "array"
                        },
                        "fiatStatement": {
                          "type": "array"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "cryptoStatement": [
                    {
                      "date": "4/06/2020",
                      "time": "14:21:03",
                      "event": "sell",
                      "asset": "AUD",
                      "amount": "500.00000000",
                      "currency": "USD",
                      "value": "343.35520439",
                      "rate": "0.68671041",
                      "audValue": "500.00000000",
                      "feeAmount": "null",
                      "feeAsset": "null",
                      "feeAudValue": "null",
                      "gst": "null",
                      "exGST": "null",
                      "depositedTo": "null",
                      "withdrawnTo": "null",
                      "withdrawalFee": "null",
                      "reference": "null",
                      "txId": "null",
                      "uuid": "null"
                    }
                  ],
                  "fiatStatement": [
                    {
                      "date": "4/06/2020",
                      "time": "14:21:03",
                      "event": "sell",
                      "asset": "AUD",
                      "amount": "500.00000000",
                      "currency": "USD",
                      "value": "343.35520439",
                      "rate": "0.68671041",
                      "audValue": "500.00000000",
                      "feeAmount": "null",
                      "feeAsset": "null",
                      "feeAudValue": "null",
                      "gst": "null",
                      "exGST": "null",
                      "depositedTo": "null",
                      "withdrawnTo": "null",
                      "withdrawalFee": "null",
                      "reference": "null",
                      "txId": "null",
                      "uuid": "null"
                    }
                  ],
                  "openingStatements": {
                    "cryptoStatement": [
                      {
                        "date": "30/06/2020",
                        "time": "23:59:59",
                        "event": "open position",
                        "asset": "USDT",
                        "amount": "23.84373701",
                        "currency": "null",
                        "value": "null",
                        "rate": "null",
                        "audValue": "33.04021869"
                      }
                    ],
                    "fiatStatement": [
                      {
                        "date": "30/06/2020",
                        "time": "23:59:59",
                        "event": "open position",
                        "asset": "USDT",
                        "amount": "23.84373701",
                        "currency": "null",
                        "value": "null",
                        "rate": "null",
                        "audValue": "33.04021869"
                      }
                    ]
                  },
                  "closingStatements": {
                    "cryptoStatement": [
                      {
                        "date": "30/06/2020",
                        "time": "23:59:59",
                        "event": "open position",
                        "asset": "USDT",
                        "amount": "23.84373701",
                        "currency": "null",
                        "value": "null",
                        "rate": "null",
                        "audValue": "33.04021869"
                      }
                    ],
                    "fiatStatement": [
                      {
                        "date": "30/06/2020",
                        "time": "23:59:59",
                        "event": "open position",
                        "asset": "USDT",
                        "amount": "23.84373701",
                        "currency": "null",
                        "value": "null",
                        "rate": "null",
                        "audValue": "33.04021869"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "getUsertaxreport?from,offset,to,type"
      }
    },
    "/user/transactionReport": {
      "get": {
        "summary": "Get Transaction Report",
        "description": "Get Transaction Report",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>Start date for transaction report in ms</p>\n",
            "example": "1593518400000"
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>Optional timezone offset in ms. Negative numbers allowed.</p>\n",
            "example": "36000000"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>End date for transaction report in ms</p>\n",
            "example": "1561939200000"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Report output format. Either <code>csv</code> or <code>pdf</code></p>\n",
            "example": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get Transaction Report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cryptoStatement": {
                      "type": "array"
                    },
                    "fiatStatement": {
                      "type": "array"
                    },
                    "openingStatements": {
                      "type": "object",
                      "properties": {
                        "cryptoStatement": {
                          "type": "array"
                        },
                        "fiatStatement": {
                          "type": "array"
                        }
                      }
                    },
                    "closingStatements": {
                      "type": "object",
                      "properties": {
                        "cryptoStatement": {
                          "type": "array"
                        },
                        "fiatStatement": {
                          "type": "array"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "cryptoStatement": [
                    {
                      "date": "4/06/2020",
                      "time": "14:21:03",
                      "event": "sell",
                      "asset": "AUD",
                      "amount": "500.00000000",
                      "currency": "USD",
                      "value": "343.35520439",
                      "rate": "0.68671041",
                      "audValue": "500.00000000",
                      "feeAmount": "null",
                      "feeAsset": "null",
                      "feeAudValue": "null",
                      "gst": "null",
                      "exGST": "null",
                      "depositedTo": "null",
                      "withdrawnTo": "null",
                      "withdrawalFee": "null",
                      "reference": "null",
                      "txId": "null",
                      "uuid": "null"
                    }
                  ],
                  "fiatStatement": [
                    {
                      "date": "4/06/2020",
                      "time": "14:21:03",
                      "event": "sell",
                      "asset": "AUD",
                      "amount": "500.00000000",
                      "currency": "USD",
                      "value": "343.35520439",
                      "rate": "0.68671041",
                      "audValue": "500.00000000",
                      "feeAmount": "null",
                      "feeAsset": "null",
                      "feeAudValue": "null",
                      "gst": "null",
                      "exGST": "null",
                      "depositedTo": "null",
                      "withdrawnTo": "null",
                      "withdrawalFee": "null",
                      "reference": "null",
                      "txId": "null",
                      "uuid": "null"
                    }
                  ],
                  "openingStatements": {
                    "cryptoStatement": [
                      {
                        "date": "30/06/2020",
                        "time": "23:59:59",
                        "event": "open position",
                        "asset": "USDT",
                        "amount": "23.84373701",
                        "currency": "null",
                        "value": "null",
                        "rate": "null",
                        "audValue": "33.04021869"
                      }
                    ],
                    "fiatStatement": [
                      {
                        "date": "30/06/2020",
                        "time": "23:59:59",
                        "event": "open position",
                        "asset": "USDT",
                        "amount": "23.84373701",
                        "currency": "null",
                        "value": "null",
                        "rate": "null",
                        "audValue": "33.04021869"
                      }
                    ]
                  },
                  "closingStatements": {
                    "cryptoStatement": [
                      {
                        "date": "30/06/2020",
                        "time": "23:59:59",
                        "event": "open position",
                        "asset": "USDT",
                        "amount": "23.84373701",
                        "currency": "null",
                        "value": "null",
                        "rate": "null",
                        "audValue": "33.04021869"
                      }
                    ],
                    "fiatStatement": [
                      {
                        "date": "30/06/2020",
                        "time": "23:59:59",
                        "event": "open position",
                        "asset": "USDT",
                        "amount": "23.84373701",
                        "currency": "null",
                        "value": "null",
                        "rate": "null",
                        "audValue": "33.04021869"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "getUsertransactionreport?from,offset,to,type"
      }
    },
    "/address/deposit": {
      "get": {
        "summary": "Get active addresses v2",
        "description": "<p>Currently only supports crypto addresses. For fiat addresses see <a href=\"#reference/addresses/deposit/get-active-addresses\">Get Active Addresses v2</a>.</p>",
        "parameters": [
          {
            "name": "assetId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset ID. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>id</code> for all asset ids</p>\n"
          },
          {
            "name": "networkId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>Network ID for crypto assets</p>\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get active addresses v2",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "address": [
                    {
                      "id": 1,
                      "code": "AUD",
                      "address_details": {
                        "address": "18PpTWTShSsHuJ5ze23gU2rmsQbAVVMZia",
                        "destination_tag": "654987312",
                        "payment_id": "654987312",
                        "memo": "memo text",
                        "biller_code": "321654",
                        "bsb": "654-312",
                        "payid": "email@address.example",
                        "reference": "654987312519",
                        "message": "b&2H_8s!..."
                      },
                      "time": 1517316338030,
                      "name": "My BTC Address",
                      "type": "deposit"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters for Get active addresses v2",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "ArgsError",
                    "message": "networkId is not an integer"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Get active addresses v2",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getAddressdeposit"
      },
      "post": {
        "summary": "Create new address",
        "description": "Create new address",
        "parameters": [
          {
            "name": "assetCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n"
          },
          {
            "name": "variantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>Deposit method</p>\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ]
              },
              "example": {
                "address": {
                  "name": "My BTC Address"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response for Create new address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "address": [
                    {
                      "id": 1,
                      "code": "AUD",
                      "address_details": {
                        "address": "18PpTWTShSsHuJ5ze23gU2rmsQbAVVMZia",
                        "destination_tag": "654987312",
                        "payment_id": "654987312",
                        "memo": "memo text",
                        "biller_code": "321654",
                        "bsb": "654-312",
                        "payid": "email@address.example",
                        "reference": "654987312519",
                        "message": "b&2H_8s!..."
                      },
                      "time": 1517316338030,
                      "name": "My BTC Address",
                      "type": "deposit"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Create new address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postAddressdeposit"
      }
    },
    "/address/withdraw/{assetCode}": {
      "post": {
        "summary": "Save new address",
        "description": "Save new address",
        "parameters": [
          {
            "name": "assetCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: assetCode"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "object",
                    "properties": {
                      "address_details": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "destination_tag": {
                            "type": "string"
                          },
                          "payment_id": {
                            "type": "string"
                          },
                          "memo": {
                            "type": "string"
                          },
                          "biller_code": {
                            "type": "string"
                          },
                          "bsb": {
                            "type": "string"
                          },
                          "payid": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "address"
                        ]
                      },
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "address_details",
                      "name"
                    ]
                  }
                }
              },
              "example": {
                "address": {
                  "address_details": {
                    "address": "18PpTWTShSsHuJ5ze23gU2rmsQbAVVMZia",
                    "destination_tag": "654987312",
                    "payment_id": "654987312",
                    "memo": "memo text",
                    "biller_code": "321654",
                    "bsb": "654-312",
                    "payid": "email@address.example",
                    "reference": "654987312519",
                    "message": "b&2H_8s!..."
                  },
                  "name": "My BTC Address"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response for Save new address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "array"
                    }
                  }
                },
                "example": {
                  "address": [
                    {
                      "id": 1,
                      "code": "AUD",
                      "address_details": {
                        "address": "18PpTWTShSsHuJ5ze23gU2rmsQbAVVMZia",
                        "destination_tag": "654987312",
                        "payment_id": "654987312",
                        "memo": "memo text",
                        "biller_code": "321654",
                        "bsb": "654-312",
                        "payid": "email@address.example",
                        "reference": "654987312519",
                        "message": "b&2H_8s!..."
                      },
                      "time": 1517316338030,
                      "name": "My BTC Address",
                      "type": "withdraw"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Save new address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "postAddresswithdrawassetcode"
      }
    },
    "/address/withdraw/{addressId}": {
      "post": {
        "summary": "Remove address",
        "description": "Remove address",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "<p>The address id to delete</p>\n",
            "example": "1"
          }
        ],
        "responses": {
          "204": {
            "description": "No content for Remove address",
            "content": {
              "application/json": {
                "schema": {},
                "example": {}
              }
            }
          },
          "500": {
            "description": "Internal server error for Remove address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "deleteAddresswithdrawaddressid"
      }
    },
    "/address/withdraw/verify/{token}": {
      "post": {
        "summary": "Verify Withdrawal Address",
        "description": "Verify Withdrawal Address",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Token as given in email</p>\n",
            "example": "s2d3fg5ds4fg65d"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>Includes meta refresh to redirect to frontend. Use request status code for API usage</p>",
            "content": {
              "application/json": {
                "schema": {},
                "example": {}
              }
            }
          },
          "500": {
            "description": "Internal server error for Verify Withdrawal Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getAddresswithdrawverifytoken"
      }
    },
    "/address/withdraw/bsb-verify/{bsb}": {
      "get": {
        "summary": "Verify BSB",
        "description": "Verify BSB",
        "parameters": [
          {
            "name": "bsb",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>BSB for bank</p>\n",
            "example": "063-000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Verify BSB",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "durationMs": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    },
                    "statusDescription": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "bankCode": {
                      "type": "string"
                    },
                    "bsb": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "closed": {
                      "type": "boolean"
                    },
                    "postCode": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "durationMs": 5,
                  "status": "Ok",
                  "statusDescription": "Operation completed successfully",
                  "address": "The Bendigo Centre",
                  "bankCode": "BBL",
                  "bsb": "633-000",
                  "city": "Bendigo",
                  "closed": false,
                  "postCode": "3550",
                  "state": "VIC"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for Verify BSB",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "error": "StillLoading",
                    "message": "Please try again or contact support."
                  }
                }
              }
            }
          }
        },
        "operationId": "getAddresswithdrawbsbverifybsb"
      }
    },
    "/alerts": {
      "delete": {
        "summary": "Delete Price Alert",
        "description": "Delete Price Alert",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Delete Price Alert",
            "content": {
              "application/json": {
                "schema": {},
                "example": {}
              }
            }
          }
        },
        "operationId": "deleteAlerts"
      }
    },
    "/alerts/{primary}/{secondary}": {
      "post": {
        "summary": "Create Price Alert",
        "description": "Create Price Alert",
        "parameters": [
          {
            "name": "primary",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset ID of a Primary Asset. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Markets</a> <code>id</code> for all market ids</p>\n",
            "example": "1"
          },
          {
            "name": "secondary",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset ID. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Markets</a> <code>id</code> for all market ids</p>\n",
            "example": "3"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": {
                    "type": "number"
                  }
                },
                "required": [
                  "price"
                ]
              },
              "example": {
                "price": 1000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response for Create Price Alert",
            "content": {
              "application/json": {
                "schema": {},
                "example": {}
              }
            }
          }
        },
        "operationId": "postAlertsprimarysecondary"
      }
    },
    "/charts/v2/getBars/{baseAsset}/{secondaryAsset}/{side}": {
      "get": {
        "summary": "Get Bar Chart",
        "description": "Get Bar Chart",
        "parameters": [
          {
            "name": "baseAsset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "AUD"
          },
          {
            "name": "secondaryAsset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "BTC"
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>The time span that the candles will cover</p>\n"
          },
          {
            "name": "side",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Side <code>ask</code> or <code>bid</code></p>\n",
            "example": "ask"
          },
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "",
            "example": "1727395200000"
          },
          {
            "name": "timeEnd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "",
            "example": "1727398800000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "<p>Number of candles to retrieve, limit <code>10000</code></p>\n",
            "example": "5000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get Bar Chart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  },
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  },
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  }
                ]
              }
            }
          }
        },
        "operationId": "getChartsv2getbarsbaseassetsecondaryassetside?resolution,timestart,timeend,limit"
      }
    },
    "/charts/v2/getLatestBar": {
      "get": {
        "summary": "Get Latest Bars",
        "description": "Get Latest Bars",
        "parameters": [
          {
            "name": "baseAsset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "AUD"
          },
          {
            "name": "secondaryAsset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "BTC"
          },
          {
            "name": "side",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Side <code>ask</code> or <code>bid</code></p>\n",
            "example": "ask"
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>The time span that the candles will cover</p>\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get Latest Bars",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  },
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  }
                ]
              }
            }
          }
        },
        "operationId": "getChartsv2getlatestbar"
      }
    },
    "/charts/v2/settings": {
      "get": {
        "summary": "Get Chart Settings",
        "description": "Get Chart Settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Chart Settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "supports_search": false,
                  "supports_group_request": false,
                  "supports_marks": false,
                  "exchanges": [],
                  "symbols_types": [],
                  "supported_resolutions": "1m"
                }
              }
            }
          }
        },
        "operationId": "getChartsv2settings"
      }
    },
    "/charts/v2/resolveSymbol/{baseAsset}/{secondaryAsset}": {
      "get": {
        "summary": "Resolve Symbol",
        "description": "Resolve Symbol",
        "parameters": [
          {
            "name": "baseAsset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "AUD"
          },
          {
            "name": "secondaryAsset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Resolve Symbol",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "session": {
                      "type": "string"
                    },
                    "exchange": {
                      "type": "string"
                    },
                    "listed_exchange": {
                      "type": "string"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "minmov": {
                      "type": "number"
                    },
                    "pricescale": {
                      "type": "number"
                    },
                    "minmive2": {
                      "type": "number"
                    },
                    "has_intraday": {
                      "type": "boolean"
                    },
                    "supported_resolutions": {
                      "enum": [
                        "1m",
                        "5m",
                        "1h",
                        "4h",
                        "1d"
                      ]
                    },
                    "data_status": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "name": "BTCUSD",
                  "description": "Bitcoin / US Dollars",
                  "type": "bitcoin",
                  "session": "24x7",
                  "exchange": "SWYFTX",
                  "listed_exchange": "SWYFTX",
                  "timezone": "Australia/Brisbane",
                  "minmov": 1,
                  "pricescale": 100,
                  "minmive2": 0,
                  "has_intraday": true,
                  "supported_resolutions": "1m",
                  "data_status": "streaming"
                }
              }
            }
          }
        },
        "operationId": "getChartsv2resolvesymbolbaseassetsecondaryasset"
      }
    },
    "/charts/getBars/{baseAsset}/{secondaryAsset}/{side}": {
      "get": {
        "summary": "Get Bar Chart",
        "description": "Get Bar Chart",
        "parameters": [
          {
            "name": "baseAsset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "AUD"
          },
          {
            "name": "secondaryAsset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "BTC"
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>The time span that the candles will cover</p>\n"
          },
          {
            "name": "side",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Side <code>ask</code> or <code>bid</code></p>\n",
            "example": "ask"
          },
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "",
            "example": "1727395200000"
          },
          {
            "name": "timeEnd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "",
            "example": "1727398800000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "<p>Number of candles to retrieve, maximum limit <code>20000</code></p>\n",
            "example": "5000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get Bar Chart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  },
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  },
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  }
                ]
              }
            }
          }
        },
        "operationId": "getChartsgetbarsbaseassetsecondaryassetside?resolution,timestart,timeend,limit"
      }
    },
    "/charts/getLatestBar": {
      "get": {
        "summary": "Get Latest Bar",
        "description": "Get Latest Bar",
        "parameters": [
          {
            "name": "baseAsset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "AUD"
          },
          {
            "name": "secondaryAsset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "BTC"
          },
          {
            "name": "side",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Side <code>ask</code> or <code>bid</code></p>\n",
            "example": "ask"
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>The time span that the candle will cover</p>\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get Latest Bar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  },
                  {
                    "time": 1501545600000,
                    "open": "4261.48000000",
                    "high": "4745.42000000",
                    "low": "3400.00000000",
                    "close": "4724.89000000",
                    "volume": 10015
                  }
                ]
              }
            }
          }
        },
        "operationId": "getChartsgetlatestbar"
      }
    },
    "/charts/settings": {
      "get": {
        "summary": "Get Chart Settings",
        "description": "Get Chart Settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Chart Settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "supports_search": false,
                  "supports_group_request": false,
                  "supports_marks": false,
                  "exchanges": [],
                  "symbols_types": [],
                  "supported_resolutions": "1m"
                }
              }
            }
          }
        },
        "operationId": "getChartssettings"
      }
    },
    "/charts/resolveSymbol/{baseAsset}/{secondaryAsset}": {
      "get": {
        "summary": "Resolve Symbol",
        "description": "Resolve Symbol",
        "parameters": [
          {
            "name": "baseAsset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "AUD"
          },
          {
            "name": "secondaryAsset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Asset code. See <a href=\"#reference/markets/market-assets/get-market-assets\">Get Market Assets</a> <code>code</code> for all market codes</p>\n",
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Resolve Symbol",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "session": {
                      "type": "string"
                    },
                    "exchange": {
                      "type": "string"
                    },
                    "listed_exchange": {
                      "type": "string"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "minmov": {
                      "type": "number"
                    },
                    "pricescale": {
                      "type": "number"
                    },
                    "minmive2": {
                      "type": "number"
                    },
                    "has_intraday": {
                      "type": "boolean"
                    },
                    "supported_resolutions": {
                      "enum": [
                        "1m",
                        "5m",
                        "1h",
                        "4h",
                        "1d"
                      ]
                    },
                    "data_status": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "name": "BTCUSD",
                  "description": "Bitcoin / US Dollars",
                  "type": "bitcoin",
                  "session": "24x7",
                  "exchange": "SWYFTX",
                  "listed_exchange": "SWYFTX",
                  "timezone": "Australia/Brisbane",
                  "minmov": 1,
                  "pricescale": 100,
                  "minmive2": 0,
                  "has_intraday": true,
                  "supported_resolutions": "1m",
                  "data_status": "streaming"
                }
              }
            }
          }
        },
        "operationId": "getChartsresolvesymbolbaseassetsecondaryasset"
      }
    },
    "/compare/{exchange}": {
      "get": {
        "summary": "Get Comparison",
        "description": "Get Comparison",
        "parameters": [
          {
            "name": "exchange",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response for Get Comparison",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "AUD": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "buy": {
                              "type": "string"
                            },
                            "sell": {
                              "type": "string"
                            },
                            "spread": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "buy",
                            "sell",
                            "spread"
                          ]
                        },
                        {
                          "enum": [
                            "AUD",
                            "BTC",
                            "USD"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "AUD"
                  ]
                },
                "example": {
                  "AUD": {
                    "buy": "0.7272",
                    "sell": "0.7283",
                    "spread": "0.01"
                  }
                }
              }
            }
          }
        },
        "operationId": "getCompareexchange"
      }
    },
    "/earn/info": {
      "get": {
        "summary": "Get Earn Information",
        "description": "Get Earn Information",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Earn Information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "optedIn"
                  ]
                },
                "example": {
                  "optedIn": true,
                  "offerings": [
                    {
                      "assetId": "1",
                      "capacityRemaining": 130493.12,
                      "userLimit": 10000,
                      "expectedReward": "0.01",
                      "expires": 1596684928098,
                      "_id": 1,
                      "tiers": [
                        {
                          "tier": 1,
                          "size": "1000",
                          "APY": "5.13",
                          "RPY": "5"
                        }
                      ]
                    }
                  ],
                  "rewards": [
                    {
                      "assetId": "1",
                      "offerId": 1,
                      "rewards": "130493.12"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getEarninfo"
      }
    },
    "/earn/offerings": {
      "get": {
        "summary": "Get Earn Offerings",
        "description": "Get Earn Offerings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response for Get Earn Offerings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "assetCode": "ADA",
                    "expires": 1596684928098,
                    "offerId": 1,
                    "tiers": [
                      {
                        "tier": 1,
                        "size": "1000",
                        "APY": "5.13",
                        "RPY": "5"
                      }
                    ]
[...]
